# Ignore environment configuration files
src/configs/.env.development
src/configs/.env.production

# Ignore Yarn lock file
yarn.lock

# Ignore build directory
build/

# Ignore node_modules directory
node_modules/
