name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn install

      - name: Build the project
        run: yarn build
        env:
          MONGODB_URL: ${{ secrets.MONGODB_URL }}
          NODE_ENV: production
          PORT: 3000

      - name: Run tests
        run: yarn test

      - name: Start the application
        run: node ./build/server.js
        env:
          MONGODB_URL: ${{ secrets.MONGODB_URL }}
          NODE_ENV: production
          PORT: 3000
